<!DOCTYPE html>
<html>
  <style>
body {
  background-color: lightblue;
}

 h1{
   font-family: monospace;
 }
  </style>
  <head>
    <title>dino info</title>
    <h1>WELCOME TO DINO LAND</h1>
    <h3>Intro</h3>
    <p>Hello and welcome to DinoInfo.This is a site where you can learn things about the mighty beasts that came before us.</p>
    <img src="Dinosaur.jpeg" alt="Dino" />
  </head>
  <body>
    <h2>what is a dinosaur?</h2>
    <p>A dinosuar is,by definition,a extict reptile from the mezizoic era.So dinosuars are basiclly huge reptiles.However one thing that is interesting is that dinosaurs are closer in genetic family to birds than any reptile.Now some birds definately look somewhat like dinosuars like the ostrich, emu, or cassowary.but other birds such as the chickedee, crow, or robin do not look like dinosuars at all.Anyways we will cover that later.Our story starts at the last super continent...Pangea</p>
   <h2>Pangea</h2>
  </body>

</html>

